<div class="center-container">
  <div class="container">
    <div class="welcome-text">
      <h1>Welcome to your personal diary</h1>
    </div>
    <div class="form">
      <!-- Register form -->
      <form [formGroup]="form" (ngSubmit)="onRegister()">
        <div class="title">Welcome</div>
        <div class="subtitle">Let's register!</div>
        <div *ngIf="showMessage" class="message">
          <p>{{ message }}</p>
        </div>
        <div class="input-container ic2">
          <input id="username1" class="input" type="text" formControlName="username" placeholder="Username" />
          <div class="cut"></div>
        </div>
        <div class="input-container ic2">
          <input id="password1" class="input" type="text" formControlName="password" placeholder="Password" />
          <div class="cut"></div>
        </div>
        <div class="submit-button">
          <button type="submit" class="submit">Submit</button>
        </div>
      </form>
    </div>

    <!-- Add padding between the forms -->
    <div class="form" style="padding-top: 20px;">
      <!-- Login form -->
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="title">Welcome</div>
        <div class="subtitle">Let's login!</div>
        <div class="input-container ic2">
          <input id="username" class="input" type="text" formControlName="username" placeholder="Username" />
          <div class="cut"></div>
        </div>
        <div class="input-container ic2">
          <input id="password" class="input" type="password" formControlName="password" placeholder="Password" />
          <div class="cut"></div>
        </div>
        <div class="submit-button">
          <button type="submit" class="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
