<div class="center-container">
  <form [formGroup]="form" (ngSubmit)="onRegister()">
    <div class="form">
      <div *ngIf="showMessage" class="message">
        <p>{{ message }}</p>
      </div>
      <div class="title">Welcome</div>
      <div class="subtitle">Let's register!</div>
    
      <div class="input-container ic2">
        <input id="username1" class="input" type="text" formControlName="username" placeholder="Username" />
        <div class="cut"></div>
        
      </div>
      <div class="input-container ic2">
        <input id="password1" class="input" type="text" formControlName="password" placeholder="Password" />
        <div class="cut"></div>
        
      </div>
      <div class="submit-button">
        <button type="submit" class="submit">Submit</button>
      </div>
    </div>
  </form>
</div>

<div class="center-container">
  <!-- Login form -->
  <div class="login-form">
    <div class="title">Welcome</div>
    <div class="subtitle">Let's login!</div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <!-- Login form fields -->
      <div class="input-container ic2">
        <input id="username" class="input" type="text" formControlName="username" placeholder="Username" />
        <div class="cut"></div>
      </div>
      <div class="input-container ic2">
        <input id="password" class="input" type="password" formControlName="password" placeholder="Password" />
        <div class="cut"></div>
      </div>
      <div class="submit-button">
        <button type="submit" class="submit">Submit</button>
      </div>
    </form>
  </div>

  

  
</div>
